<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	metadata-complete="false" version="3.0">

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>CadastroServlet</servlet-name> <!-- nome do servlet dentro do web.xml -->
		<servlet-class>br.edu.ifsp.telescopio.controllers.CadastroServlet</servlet-class> <!-- nome da classe do servlet -->
	</servlet>
	<servlet>
		<servlet-name>LoginServlet</servlet-name> <!-- nome do servlet dentro do web.xml -->
		<servlet-class>br.edu.ifsp.telescopio.controllers.LoginServlet</servlet-class> <!-- nome da classe do servlet -->
	</servlet>
	<servlet>
		<servlet-name>ConfirmacaoServlet</servlet-name> <!-- nome do servlet dentro do web.xml -->
		<servlet-class>br.edu.ifsp.telescopio.controllers.ConfirmacaoServlet</servlet-class> <!-- nome da classe do servlet -->
	</servlet>
	<servlet>
		<servlet-name>LogoutServlet</servlet-name> <!-- nome do servlet dentro do web.xml -->
		<servlet-class>br.edu.ifsp.telescopio.controllers.LogoutServlet</servlet-class> <!-- nome da classe do servlet -->
	</servlet>
	<servlet>
		<servlet-name>CoordenadasServlet</servlet-name> <!-- nome do servlet dentro do web.xml -->
		<servlet-class>br.edu.ifsp.telescopio.controllers.CoordenadasServlet</servlet-class> <!-- nome da classe do servlet -->
	</servlet>
	<servlet>
		<servlet-name>TelescopioServlet</servlet-name> <!-- nome do servlet dentro do web.xml -->
		<servlet-class>br.edu.ifsp.telescopio.controllers.TelescopioServlet</servlet-class> <!-- nome da classe do servlet -->
	</servlet>

	<servlet-mapping>
		<servlet-name>CadastroServlet</servlet-name> <!-- servlet a ser mapeado -->
		<url-pattern>/cadastro</url-pattern> <!-- url que está mapeada para o servlet responder -->
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name> <!-- servlet a ser mapeado -->
		<url-pattern>/login</url-pattern> <!-- url que está mapeada para o servlet responder -->
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>ConfirmacaoServlet</servlet-name> <!-- servlet a ser mapeado -->
		<url-pattern>/confirmar</url-pattern> <!-- url que está mapeada para o servlet responder -->
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name> <!-- servlet a ser mapeado -->
		<url-pattern>/logout</url-pattern> <!-- url que está mapeada para o servlet responder -->
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>CoordenadasServlet</servlet-name> <!-- servlet a ser mapeado -->
		<url-pattern>/coordenadas</url-pattern> <!-- url que está mapeada para o servlet responder -->
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>TelescopioServlet</servlet-name> <!-- servlet a ser mapeado -->
		<url-pattern>/telescopio</url-pattern> <!-- url que está mapeada para o servlet responder -->
	</servlet-mapping>	

</web-app>